* {
  box-sizing: border-box;
}

body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game {
  position: relative;
  display: inline-grid;
  background: black;
}

.game-status {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  margin-top: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

#start-button {
  margin-top: 20px;
}

.hide {
  display: none;
}

.square {
  display: block;
}

.blank {
  background: black;
}

.wall {
  border: 1px solid blue;
}

.dot {
  background: white;
  border: 8px solid black;
  border-radius: 50%;
}

.pill {
  background: white;
  border: 5px solid black;
  border-radius: 50%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 15%;
  height: 15%;
  background: black;
  border-radius: 50%;
  left: 15%;
  top: 25%;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 15%;
  height: 15%;
  background: black;
  border-radius: 50%;
  right: 15%;
  top: 25%;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}

.pacman {
  background: yellow;
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% -25%,
    40% 50%,
    100% 125%,
    100% 100%,
    0 100%
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 50%,
      40% 50%,
      100% 50%,
      100% 100%,
      0 100%
    );
  }
}